<a href="https://colab.research.google.com/github/dssg-berlin/web-tracking-analytics/blob/main/preparation/explore_demo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [13]:
# Note that Matomo encodes csv files using utf-16le. https://github.com/matomo-org/matomo/issues/5729
df = pd.read_csv("/content/Export _  _ Friday, March 3, 2023.csv", encoding="UTF-16LE", low_memory=False)
df.head()

,idSite,idVisit,visitIp,visitorId,fingerprint,type (actionDetails 0),url (actionDetails 0),pageTitle (actionDetails 0),pageIdAction (actionDetails 0),idpageview (actionDetails 0),...,referrerName (actionDetails 5),referrerKeyword (actionDetails 5),contentName (actionDetails 9),contentPiece (actionDetails 9),contentTarget (actionDetails 9),contentInteraction (actionDetails 9),contentName (actionDetails 10),contentPiece (actionDetails 10),contentTarget (actionDetails 10),contentInteraction (actionDetails 10)
0,1,8797109,NaN,0,0,action,https://dive-shop.net/products/diving-tank/,Divezone Brand Diving Tank - Divezone Store,19.0,d5Dhfk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8797064,NaN,0,0,search,NaN,NaN,NaN,vHDPYF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8797108,NaN,0,0,ecommerceAbandonedCart,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,8797107,NaN,0,0,action,https://dive-shop.net/best-of-the-best/,Divezone Free Guides: Running Your Own Dive Ce...,73.0,76f1s0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,8797106,NaN,0,0,action,https://divezone.net/travel/red-sea,"Red Sea Travel Tips – Things to do, Map and Be...",1830.0,U9aGYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.shape

(1964, 793)

In [22]:
df.idVisit.nunique()

1964

In [21]:
df["url (actionDetails 0)"].value_counts()

https://divezone.net/jobs                             107
https://dive-shop.net/products/basic-wetsuit/          56
https://dive-shop.net/cart/                            55
https://divezone.net/diving/bali                       55
https://dive-shop.net/products/diving-tank/            53
                                                     ...
https://divezone.net/jobs/view/istruttore-italiano      1
https://divezone.net/divesite/gili-mimpang              1
https://divezone.net/jobs/apply/diver                   1
https://divezone.net/liveaboard/seafari-explorer        1
http://www.hotel-diving-manado.com/index.php            1
Name: url (actionDetails 0), Length: 453, dtype: int64

In [40]:
df.columns[df.isna().sum()==0]

Index(['idSite', 'idVisit', 'visitorId', 'fingerprint',
       'type (actionDetails 0)', 'serverTimePretty (actionDetails 0)',
       'timestamp (actionDetails 0)', 'goalConversions', 'siteCurrency',
       'siteCurrencySymbol', 'serverDate', 'visitServerHour',
       'lastActionTimestamp', 'lastActionDateTime', 'siteName',
       'serverTimestamp', 'firstActionTimestamp', 'serverTimePretty',
       'serverDatePretty', 'serverDatePrettyFirstAction',
       'serverTimePrettyFirstAction', 'visitorType', 'visitorTypeIcon',
       'visitConverted', 'visitCount', 'visitEcommerceStatus',
       'daysSinceFirstVisit', 'secondsSinceFirstVisit',
       'daysSinceLastEcommerceOrder', 'visitDuration', 'visitDurationPretty',
       'searches', 'actions', 'interactions', 'referrerType',
       'referrerTypeName', 'language', 'deviceType', 'deviceTypeIcon',
       'deviceBrand', 'deviceModel', 'operatingSystem', 'operatingSystemName',
       'operatingSystemIcon', 'operatingSystemCode',
       'browserFamilyDescription', 'browser', 'browserName', 'browserIcon',
       'browserCode', 'totalEcommerceRevenue', 'totalEcommerceConversions',
       'totalEcommerceItems', 'totalAbandonedCartsRevenue',
       'totalAbandonedCarts', 'totalAbandonedCartsItems', 'events',
       'continent', 'continentCode', 'country', 'countryCode', 'countryFlag',
       'location', 'visitLocalTime', 'visitLocalHour', 'daysSinceLastVisit',
       'secondsSinceLastVisit', 'resolution', 'formConversions'],
      dtype='object')